body {
  font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
h3 {
  text-align: center;
  color: #bb3794;
}

h5 {
  font-size: 10px;
  margin-left: 20%;
  margin-right: 20%;
}



label.Dname, input#Dname {
  margin-top: 20px;
}
th {
  text-align: left;
}
table {
  font-size: 14px;
}
td,th {
  height: 30px;
  border-bottom: 1px dotted #d6d6d6;
  padding-right: 20px;
}
a {
  text-decoration: none;
}

a, a:visited {
  color: rgb(84, 180, 210);
}

a:hover {
  color: rgb(51,159,192);
}

label {
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px;
}

input, label, button {
  float:left;
}

button {
  margin-top: 10px;

}

span.names {
  font-weight: bold;
}

div.showResults {
  margin-top: 120px;
}
