body, th {
  font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

html, body {
  min-height: 100%;

}
body {
  background: url("./img/background.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-repeat:   no-repeat;
 }


.custom-card {
  background-color: rgba(47, 53, 71, 0.6);
  color: white;
  max-width: 60%;
  min-width: 120px;
  /* padding-left: 5%;
  padding-right: 5%; */
  padding-top: 2%;
  margin-top: 10%;
}
.lead {
  text-align: center;
}

div.col-md-8 {
  margin-right: 50%;
  transform: translate(25%, 1%)
}
h3, h1 {
  text-align: center;
  color: #bb3794;
}

h5 {
  font-size: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

label.Dname {
  margin-top: 20px;
}
th {
  text-align: left;
}
table {
  font-size: 14px;
}
td,th {
  height: 30px;
  border-bottom: 1px dotted #d6d6d6;
  padding-right: 20px;
}
a {
  text-decoration: none;
}

a, a:visited {
  color: rgb(84, 180, 210);
}

a:hover {
  color: rgb(51,159,192);
}

input, label, button {

  resize: horizontal;
  display: flex;
}

button, input {
  margin-top: 10px;
  resize: horizontal;
  width: 80%;
  min-width: 100px;
}

.btn-secondary {
    color: #bb3794;;
    background-color: #fff;
    border-color: #6c757d;
}

span.names {
  font-weight: bold;
}

div.showResults {
  align-items: center;
  margin-top: 100px;
}

#doctorInfo {
  width: 25rem;
    float: right;
}

/* Hide card  */
#doctorInfo  {
  justify-content: center;
  display: none;
}

@media  screen and (max-width: 575.98px),
{
  .display-4 {
    font-size: 20px;
  }
  .lead {
    font-size: 10px;
    font-weight: 400;
  }
}

@media  screen and (min-width:575.99px) and (max-width: 768.99px),
{
  .display-4 {
    font-size: 25px;
      margin-top: -8%;
  }
  .jumbotron {
    height: 100px;
  }

  .lead {
    font-size: 15px;
    font-weight: 200;
  }
}

@media  screen and (min-width:768px) and (max-width: 999px),
{
  .display-4 {
    font-size: 35px;
      margin-top: -4%;
  }
  .jumbotron {
    height: 100px;
  }
  .lead {
    font-size: 15px;
    font-weight: 200;
  }
}

@media  screen and (min-width:1000.99px)
{
  div.jumbotron.jumbotron-fluid {
    padding: 15px;
  }
}

col-md-8 {
  resize: horizontal;
  width: 80%;
  min-width: 100px;

}
